

<form>
    <div class="col-md-6 col-12">
        <div class="row justify-content-center">
            <div class="aling-self-center">
                <h4>Login</h4>
                <div class="mb-3">
                    <label for="usuario" class="form-label"></label>
                    <input type="text" class="form-control" id="usuario" placeholder="CNPJ/E-mail Institucional">

                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label"></label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha de acesso">
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="mb-3 ">
                    <p>
                        <a href="#">Esqueceu sua senha? Clique aqui.</a>
                    </p>
                    <p>
                        <a href="#">Cadastra-se clicando aqui!</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</form>
